.countdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  padding: 30px;
  border-radius: 10px;
  font-family: sans-serif;
}

@media (min-width: 768px) {
  .countdown-container {
    padding: 15px;
    min-width: 796px;
    height: 390px;
  }
}

.countdown-title {
  font-size: 2em;
  margin-bottom: 10px;
}

.countdown-timer {
  font-size: 1.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.countdown-days,
.countdown-hours,
.countdown-minutes,
.countdown-seconds {
  margin: 0 10px;
}

.countdown-details {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.countdown-details div {
  font-size: 1em;
}
