<div class="countdown-container">
  <div class="countdown-title" *ngIf="holidayTitle">Time to {{holidayTitle}}</div>
  <div class="countdown-timer">
    <span class="countdown-days">{{ timeDifference.days }}</span> days,
    <span class="countdown-hours">{{ timeDifference.hours }}</span> h,
    <span class="countdown-minutes">{{ timeDifference.minutes }}</span
    >m, <span class="countdown-seconds">{{ timeDifference.seconds }}</span
    >s
  </div>
  <div class="countdown-details">
    <input
      type="text"
      class="countdown-title-input"
      placeholder="Search Holidays"
      [(ngModel)]="searchValue"
      #searchField
      (input)="handleInput($event)"
    />
  </div>
  <div class="dropdown-list">
    <div
      class="dropdown-item"
      *ngFor="let holiday of holidaysList"
      (click)="onHolidaySelect(holiday)"
    >
      {{ holiday.name }}
    </div>
    <div class="no-results" *ngIf="holidaysList.length === 0 && searchValue !== ''">
      No results found.
    </div>
  </div>
  <div class="countdown-details"></div>
</div>
