div[appFitText] {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.countdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 1rem;
  font-family: sans-serif;
}

@media (min-width: 250px) {
  .countdown-container {
    min-height: 80vh;
  }
}

.countdown-title {
  margin-bottom: 1rem;
  color: #72035d;
  font-weight: 800;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 1rem;
  font-size: 1.6em;
}

.countdown-timer {
  font-size: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0.7rem;
  width: 99%;
}

.countdown-days,
.countdown-hours,
.countdown-minutes,
.countdown-seconds {
  margin: 0 0.3rem;
}

.countdown-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;

  .countdown-title-input {
    font-size: 2rem;
    border: 2px solid #ccc;
    border-radius: 0.5rem;
    transition: border-color 0.3s ease;

    &:focus {
      outline: none;
      border-color: #72035d;
      box-shadow: 0 0 5px rgba(114, 3, 93, 0.5);
    }

    &::placeholder {
      color: #999;
    }
  }

  div {
    margin: 1rem;
  }
  label {
    color: #000000;
  }
  input {
    width: 100%;
  }
  @media (min-width: 601px) {
    & {
      flex-direction: row;
      width: 70%;

      .input {
        margin-right: 1rem;
      }
      .input:last-child {
        margin-right: 0;
      }
    }
  }
  & > div {
    display: flex;
    flex-direction: column;
    position: relative;
    label {
      position: absolute;
      top: -0.4rem;
      left: 0.4rem;
      display: block;
      background-color: #f2f2f2;
    }
    input {
      font-family: inherit;
      height: 0.9rem;
      width: 10rem;
      border-radius: 0.25rem;
      border: 0.1rem solid #757575;
      padding: 1rem;
      background-color: #f2f2f2;
    }
  }
}
